html {
    background-image: url("images/elyy.png")
}
h1 {
    Text-align: center;
    background-color: #CCCCFF;
    font-family: 'Times New Roman', 'Helvetica', Arial, sans-serif;
    border: 2px dashed;
    border-color: #87ceeb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    margin:20px; 
    margin-left: 550px ;
    
}
p {
    background-color: #F7ACCF;
    font-style: bold;
    padding: 20px;
    border: 3px #73c2fb;
    border-right-style: solid;
    border-top-style: dotted;
    border-left-style: double;
    border-right-style: dashed;
    border-bottom-style: dotted;
    width: 500pxs;
}
body span {
    font-style: bold, italic;
    color: rgb(255, 250, 240);
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}